
@media screen and (min-width: 1430px) {
    .inputForm{
        font-size: 18px !important;
    }
}
.padding200{
    padding: 200px 0px !important
}

.socialContact a {
    margin: 0px 20px;
    padding: 0px 15px;
    border-radius: 5px;
    transition: .3s all ease-in-out;
}
.socialContact{
    font-size: 50px;
}

.rootForm{
    background-color: #f7f7f7;
    padding: 0px 0px 140px 0px;
}

.containerForm{
    padding: 140px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form{
    background-color: #fff;
    width: 100%;
    border-radius: 5px;
    padding: 50px 0px;
}

.inputForm{
    border-left: none !important;
    border-right: none !important;
    border-top: none !important;
    margin: 20px 0px;
}

.containerButtonnBg {
    height: 52px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 16px;
}

.containerButtonnBg a i {
    margin-left: 5px;
    color: #01a6fd;
}

.bgBlue{
    background-color: #01a6fd;
}

.rootContactC {
    display: flex;
    justify-content: center;
    width:100%;
    padding: 80px 20px;
    align-items: flex-start;
    flex-direction: column;
    max-width: 1700px;
    margin: auto;
}

.rootContactC h2{
    color: #fff !important;
}
.colorWhite{
    color: #fff !important;
}

.bgBlue{
    background-color: #0F73B4;
}