.rootReasons {
    position: relative;
    z-index: 0;
    background-image: none;
    background-attachment: scroll;
    background-size: auto;
    padding: 200px 0px;
    justify-content: center;
    display: flex;
}

.backgroundWindow {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    visibility: hidden;
    z-index: -100;
}
.backgroundImage {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-image: url(https://devlms.ujatech.com/public/images/tesit-b-1.jpg?71534b4…);
    width: 100%;
    height: 763.695px;
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
    pointer-events: none;
    visibility: visible;
}
.prueba{
    height: 600px;
}
.containerTitleReasons{
    margin-bottom: 50px;
}

.containerReasons .subtitle {
    color: #fff !important;
}
.containerTitleReasons h2 {
    color: #fff !important;
}

.containerReasons {
    max-width: 1700px;
    height: 350px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0px 50px; 
}

.rootInfoReasons {
    width: 100%;
    display: flex;
    justify-content: center;
}

.containerInfoReasons {
    width: 100%;
    display: flex;
    justify-content: center;
}

.infoItem {
    display: flex;
    width: 100%;
}

.infoItem .text{
    padding: 5px 10px 0px 15px;
}

@media screen and (min-width: 1430px) {
    .infoItem .text span{
        font-size: 35px !important;
    }
    .infoItem .text p{
        font-size: 20px;
    }
}
@media screen and (max-width: 540px) {
    .containerReasons{
        padding: 0px !important;
    }
}
@media screen and (max-width: 767px) {
    .infoItem .icon{
        align-items: center;
        display: flex;
    }
}

.infoItem .text span{
    font-size: 22px;
    color: #fff;
    line-height: .9;
    font-weight: 700;
    margin-bottom: 1rem;
}
.infoItem .text p{
    margin-bottom: 1rem;
    font-weight: 300;
    color: #88c3ef
}

.infoItem .icon i {
    font-size: 50px;
}


